.services-body{
    padding:50px 0;
}
.section-title{
    margin-bottom: 70px;
    
}
.section-title h2{
    border-bottom: 3px solid red;
    display: inline;
}
.single-course{
    margin-bottom: 30px;
}
.card img{
    height:300px;
}
.card-body{
    border-top:3px solid blue;
}