.footer-body{
    background-color: #0E1133;
    height: 300px;
    padding:60px 0;
}
.social-link a{
    display: inline-block;
    margin:0 15px ;
    font-weight: 700;
    text-decoration: none;

}
.social-link a:hover{
    color: #fff !important;
}
.cources-item a{
    display: block;
    text-decoration: none;
    color:#fff;
    margin: 10px 0;
}